//
//  ReleaseConfig.xcconfig
//  testcocoapods6
//
//  Created by bob on 2017/6/20.
//
//


CODE_SIGN_IDENTITY = iPhone Distribution: letv Information Technology(Beijing)Co.,Ltd (NK22HY3LBA)
PROVISIONING_PROFILE_SPECIFIER =
PROVISIONING_PROFILE = f5b821c3-6d67-4ff7-a83c-759f5cf5af84
PROVISIONING_PROFILE_app = f5b821c3-6d67-4ff7-a83c-759f5cf5af84
